# fastbootd.
type fastbootd, domain;
type fastbootd_exec, exec_type, file_type;

brillo_domain(fastbootd)
net_domain(fastbootd)

# Allow crash_reporter access to core dump files.
allow_crash_reporter(fastbootd)
