#
# Copyright 2016 http://www.brobwind.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on init
    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    mkdir /boot 0700 root root
    mkdir /dev/block/by-name 0700 root root
    symlink ${ro.boot.disk.boot} /dev/block/by-name/boot
    symlink ${ro.boot.disk.system} /dev/block/by-name/system
    symlink ${ro.boot.disk.data} /dev/block/by-name/data

    chown system root /dev/watchdog
    # Make system reboot to Brillo system
    write /sys/module/bcm2709/parameters/reboot_part 5

on fs
    mount_all /fstab.${ro.hardware}

service watchdogd /sbin/watchdogd
    user system
    group root
    class core
    critical
    seclabel u:r:watchdogd:s0
